/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   font-family:'Open Sans';
}

*, *:before, *:after {
   box-sizing: inherit;
}

/*barre rouge au dessus des titres */
h1:before,h2:before{
   content:"";
   display:block;
   height:4px;
   width:60px;
   margin-bottom:20px;
   background:#f0454c;
}

                        /**********************************************************/
                        /*           section dediée à la partie header            */
                        /**********************************************************/

/* mettre une image en fond et la dimensionnée*/
.intro{

   background-image:url("../images/header.jpg");
   background-repeat: no-repeat;
   width: 1290px;
   height: 1100px;
   /*margin-bottom: 1px;*/
   background-size: cover;
   padding-left:100px;
   padding-top:20px;
}

/* center le titre et le redimensionné */
.intro h1{
   width:80px;
   height:20px;
   text-align:center;
   margin-top: 20px;
   margin-left:20px;
   margin-right: 200px;
   padding:90px;
   display:block;
   font-family:'Montserrat';
}

/*redimension du sous-titre */
.intro h3{
   font-family:'Montserrat';
   height:50px;
   text-align:center;
   margin-left:5px;
   margin-right: 600px;
   margin-top: 150px;
   margin-bottom:50px;
   padding:20px;

}


                     /************************************************************/
                     /*                      NAVIGATION                          */
                     /************************************************************/

/* barre de navigation en haut à droite et séparée */
.navigation li{
   position: relative;
   left: 400px;
   /*padding-top:2px;*/
   display:inline-block;
   text-decoration:none;
   margin:20px;
   /*width:100px;*/
}

/* section qui peemet d'enlever le soulignement de la barre de navigation + changement de couleur*/
.navigation a {
   text-decoration: none;
   color:black;
}


/*mettre la barre de navigation et le lien freelancer sur la même ligne */
.navigation,.bouton{
   display:inline-block;
}

/*changement de couleur pour les icônes*/
.fa-twitter,.fa-facebook{
   color:#f0454c;
}
                        /************************************************************/



/* dimensionnée les boutons et mise en forme */
.bouton {
   background-color: #f0454c;
   margin-top:50px;
   margin-left: 100px;
   border-radius: 5px;
   border:1px solid #f0454c;
   color:white;
   text-decoration:none;
   padding:20px;
   text-align:center;
   font-weight:bold;
}

/* pour center le conteneur qui contient le contenant (cad les trois secrions)*/
.conteneur{
   margin:220px;
   margin-top:0;
   margin-bottom: 50px;

}

                        /*******************************************************/
                        /* centrage des paragraphes de la section 1            */
                        /*******************************************************/

/* 1er paragraphe a bien centré */
.peace{
   padding:45px 45px 45px 0px;
}

/* 2eme paragraphe a centré */
.free{
   padding:45px;
}

/*3eme paragraphe à cnetré */
.paiement{
   padding:45px;
}

                                 /**********************************************/
                                 /* Partie reservée au photo en forme arrondi */
                                 /********************************************/
/* arrondir l'image de joey*/
.image img{
   border-radius: 50%;
   padding-top:50px;
}


/*arrondir l'image de matt */
/*.matt img{
   border-radius: 50%;
}

/* arrondir l'image de mike */
/*.mike img{
   border-radius: 50%;
}

                                 /***********************************************/


/* tous les sous-titres en rouge */
h4{
   color:#f0454c;
}

/* toous les paragraphes en gris*/
.conteneur p{
   color:  #9aa0ab;

}
/* premiere ligne des paragraphes en noir */
.section-1 p:first-line{
   color:black;
}

/* titre de la section 3 en gris */
.titre-section3 h3{
   font-family:'Montserrat';
   color: #9aa0ab;
}

/* le titre est aligner */
.titre-section3 h2{
   font-family:'Montserrat';
   display:inline;
}

/* essai pour redimensionné le portfolio */
.portfolio{
   padding:80px;
   /*padding-right: 50px;
   padding-left: 50px;*/
}

/* pour les more */
.conteneur a{
   width:60px;
   margin-right:200px;
   text-decoration:none;
   color:#f0454c;
   display:inline;
}

/*pour les icônes */
.bas1,.bas2{
   margin-left:200px;
   width:60px;
   display:inline;
   margin-top: 0px;
}

/*pour mettre la couleur en gris clair */
.bas1 .fa-twitter{
   color:#b9c0c6;
}

/* pour mettre la couleur en gris clair */
.bas2 .fa-facebook{
   color:#b9c0c6;

}

/* pour mettre la couleur en gris clair */
.bas2 .fa-google-plus{
   color:#b9c0c6;

}


/* pour le freelancer du bas (les bonnes mesures)*/
.bas2 p{
   display:inline;
   width:60px;
   margin-left:500px;
   color:#b9c0c6;

}


/*.footer{
   margin-top:50px;
   margin-bottom:100px;
}
*/
.section-1{
   display:flex;
}

.section-2 {
   display:flex;

}

.section-3 {
   display:flex;
}



/* aligner le texte et l'image ensemble */
.image,.joey{
   display:inline-block;
   margin-left: 20px;
/*   width:180px;
   margin-top:20px;
   margin-bottom:20px;*/
}

.image,.matt{
   display:block;
   margin-left: 20px;
}

.image,.mike{
   display:inline-block;
   margin-left: 20px;
}
